control-plane:
  listen:
    ip: 0.0.0.0
    port: 4000
  database:
    driver: postgres
    host: postgres
    port: 5432
    user: apify
    password: apify_password
    database: apify_db

log_level: "info"

modules:
  openapi_docs:
    enabled: false
    port: 3001
  tracing:
    enabled: true
    otlp_endpoint: http://jaeger:4317
  metrics:
    enabled: true
    port: 9090
