control-plane:
  listen:
    ip: 0.0.0.0
    port: 4000
  database:
    driver: postgres
    host: localhost
    port: 5432
    user: apify
    password: apify_password
    database: apify_db

log_level: "info"
