control-plane:
  listen:
    ip: 0.0.0.0
    port: 4000
  database:
    driver: postgres
    host: postgres
    port: 5432
    user: apify
    password: apify_password
    database: apify_db
    max_pool_size: 50
  admin_key: UZY65Nakvsd3

log_level: "info"

modules:
  openapi_docs:
    enabled: true
    port: 4001
