services:
  apify:
    image: apifyhost/apify:latest
    ports:
      - "3000:3000"
      - "9090:9090"
    volumes:
      - ./config:/app/config
      - ./data:/app/data
    environment:
      - RUST_LOG=info
      - APIFY_THREADS=2
