name: CI

env:
  CARGO_TERM_COLOR: always
  MSRV: '1.78'

on:
  push:
    branches:
      - main
      - "feat/*"
      - "feature/*"
  pull_request:
    branches:
      - main

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: dtolnay/rust-toolchain@stable
      with:
        components: clippy, rustfmt
    - uses: Swatinem/rust-cache@v2
      with:
        save-if: ${{ github.ref == 'refs/heads/main' }}
    - name: Check Code Style
      run: cargo clippy --workspace --all-targets --all-features -- -D warnings
    - name: rustfmt
      run: cargo fmt --all --check

  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: dtolnay/rust-toolchain@stable
      with:
        toolchain: stable
    - uses: Swatinem/rust-cache@v2
      with:
        save-if: ${{ github.ref == 'refs/heads/main' }}
    - name: Run tests
      env:
        RUST_BACKTRACE: 1
      run: cargo test --workspace --all-features --all-targets
    - name: Run E2E tests
      run: |
        cargo run --release tests/log.yaml
        cargo run --release tests/string.yaml
        cargo run --release tests/simple-test.yaml
